{
  "extends": "airbnb",
  "parserOptions":{
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off"
  }
}