<form
  novalidate
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="col col-sm-8 col-lg-6 px-3"
>

  <div class="form-group mb-2">
    <label class="d-block mb-2" for="auction-title" translate>auction.form.title.label</label>
    <input
      id="auction-title"
      class="form-control"
      [class.is-invalid]="formErrors.title"
      formControlName="title"
      name="title"
      required
    >
    <div
      class="invalid-feedback d-block"
      [class.invisible]="!formErrors.title"
    >{{ formErrors.title.text | translate: formErrors.title.meta }}&nbsp;</div>
  </div>

  <div class="form-group mb-2">
    <label class="d-block mb-2" for="auction-path" translate>auction.form.path.label</label>
    <input
      id="auction-path"
      class="form-control"
      [class.is-invalid]="formErrors.path"
      formControlName="path"
      name="path"
      required
    >
    <div
      class="invalid-feedback d-block"
      [class.invisible]="!formErrors.path"
    >{{ formErrors.path.text | translate: formErrors.path.meta }}&nbsp;</div>
  </div>

  <button
    class="btn btn-primary"
    translate
    [disabled]="loadingService.isLoading('auction-process')"
  >{{ submitCta }}</button>

  <a
    class="btn btn-default ml-3"
    translate
    [routerLink]="[layoutService.path, 'auction']"
  >global.cancel</a>
</form>
