<ng-container *ngIf="!loadingService.isLoading('product-detail')">
  <div class="col col-sm-8 col-lg-6 px-3" *ngIf="(product$ | async) as product">
    <div class="mb-4" translate>product.remove.text</div>
    <div>
      <button
        class="btn btn-primary"
        translate
        [disabled]="loadingService.isLoading('product-process')"
        (click)="remove(product)"
      >global.ok</button>

      <a
        class="btn btn-default ml-3"
        translate
        [routerLink]="[layoutService.path, 'auction', auctionId, 'product']"
      >global.cancel</a>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="loadingService.isLoadingAnimated('product-detail')">
  <app-loader class="d-block"></app-loader>
</ng-container>
