@import "config";
@import "theme";

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.loader.loading {
    position: relative;
    pointer-events: none;
    user-select: none;

    * {
        pointer-events: none;
        user-select: none;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        background: #fff;
        z-index: 1;
    }
}
